.carousel-enter {
  opacity: 0;
  height: 0px;
}
.carousel-enter-active {
  opacity: 1;
  height: 150px;
  transition: all 500ms ease-in;
}
.carousel-leave {
  opacity: 1;
}
.carousel-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.mealsRow {
  display: flex;
}

.mealInfo {
  width: 300px;
  height: 300px;
  margin: 5px;
  background-color: #CCCCCC;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.mealDetialRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.mealComposeSnap {
  width: 300px;
  height: 300px;
  margin: 5px;
  background-color: #CCCCCC;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.mealComposeSnap .addButton {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  background-color: #22AAAA;
  font-size: 100px;
  color: #00EEEE;
  align-self: center;
}

.mealComposeSnap div:hover {
  background-color: #EE4444;
}

.mealComposeSnap div:active {
  background-color: #EE8888;
  height: 120px;
  width: 120px;
}

.mealInfo .mealInfoImg {
  max-width: 150px;
  align-self: center;
}

.mealDetialRow .mealInfoOrder {
  background-color: #22AAAA;
}

.mealDetialRow .mealInfoOrder:hover {
  background-color: #EE4444;
}

.orderInfo:nth-child(odd) {
  background-color: #CCCCCC;
}

.orderInfo:nth-child(even) {
  background-color: #EEEEEE;
}

#mealPanel {
  float: left;
}

#orderPanel {
  float: right;
}
